body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-content {
  position: relative;
  width: 1200px;
}

.header div {
  display: inline-block;
}

.header-content .header-logo {
  width: 120px;
  height: 50px;
  background: url(https://pbs.twimg.com/media/Dgym8IeXkAInPXI.jpg) no-repeat;
  background-size: 120px;
}

.header-content .header-cart {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-content .header-cart i:hover {
  transition: 0.4s;
  color: #4B47C4;
}

.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.content-sidebar {
  width: calc(30% - 2px);
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 500px;
}

.sidebar-items {
  padding: 15px;
}

.sidebar-menu .price {
  font-weight: 700;
  font-size: 20px;
  font-family: Calibri;
  color: #3A3799;
}

.sidebar-menu input {
  width: calc(50% - 12px);
  outline: none;
  border: 0;
  color: #615CFF;
  padding: 5px;
  border: 1px solid #615cff91;
}

.sidebar-menu input[type="button"] {
  width: 100%;
  background: #4B47C4;
  border: 0;
  outline: none;
  padding: 4px 10px;
  color: #fff;
}

.sidebar-menu input[type="button"]:hover {
  transition: 0.3s ease-in-out;
  background: #4440B3;
}

.sidebar-category a {
  color: #615CFF;
  font-family: 'Segoe UI';
  text-decoration: none;
}

.sidebar-category a:hover {
  color: #3A3799;
}

.content-product {
  width: 70%;
}

.products-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.products-list .product-item {
  width: calc(30% - 40px);
  height: 230px;
  padding: 20px;
  margin: calc(1.66% - 1px);
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-family: 'Segoe UI';
}

.product-image img {
  width: 100%;
}

.product-title {
  font-weight: 700;
  font-size: 20px;
}

.product-item .product-price {
  margin: 5px 0;
  font-weight: 650;
}

.product-item .product-price i {
  font-size: 14px;
}

.product-addcart {
  font-size: 15px;
  background: #4B47C4;
  text-align: center;
  padding: 6px;
}

.product-addcart:hover {
  background: #28266f;
}

.product-addcart a {
  color: #fff;
  text-decoration: none;
}

.product-item-header {
  width: calc(100% - 80px);
  display: flex;
  margin: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI';
}

.product-item-header .product-image {
  width: 33%;
  margin-right: 20px;
}

.product-item-header .product-order {
  width: 66%;
}

.product-order .product-title {
  font-size: 26px;
}

.product-order .product-price {
  color: #4B47C4;
  font-size: 18px;
  font-weight: 600;
}

.product-order .product-price i {
  font-size: 16px;
}

.product-order .product-category a {
  text-decoration: none;
  color: #4B47C4;
}

.product-order .product-category a:hover {
  text-decoration: underline;
}

.product-order .product-desc {
  margin-bottom: 20px;
}

.product-order .product-addcart {
  width: 150px;
}

.product-order .product-addcart button {
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
}

ul.property-list {
  margin: 0;
  padding: 10px 0;
}

ul.property-list li.property-list-item {
  display: inline-block;
  padding: 7px;
  box-shadow: inset 0 0 0 1px #ccc;
}

ul.property-list li.property-list-item:hover {
  box-shadow: inset 0 0 0 1px #4B47C4;
  ;
}

.product-analogs {
  font-size: 25px;
  color: #4B47C4;
  margin-left: 20px;
  font-family: Calibri;
}